<mat-toolbar mat-dialog-title color="primary">
  Login<span class="flex-spacer"></span>
  <button mat-button mat-dialog-close >&times;</button>
</mat-toolbar>

<p>{{user | json}}</p>
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()"> 
   <mat-dialog-content>
  <p>
  <mat-form-field >
    <input matInput type="text" name="username" [(ngModel)] = "user.username" #username="ngModel" placeholder="Username" required> <!--ngModel = allows to do 2 way data binding-->
    <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
  </mat-form-field>
  <mat-form-field>
      <input matInput type="password" name="password" [(ngModel)] = "user.password" #password="ngModel" placeholder="Password" required>
      <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
    </mat-form-field>
    <mat-checkbox name="remember" [(ngModel)] = "user.remember">Remember Me!</mat-checkbox>
</p>
</mat-dialog-content> 
<mat-dialog-actions>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>Cancel</button>
  <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Login </button>
</mat-dialog-actions>

  </form>