<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road
          <br> Clear Water Bay, Kowloon
          <br> HONG KONG
          <br>
          <i class="fa fa-phone"></i>: +852 1234 5678
          <br>
          <i class="fa fa-fax"></i>: +852 8765 4321
          <br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678">
            <i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button>
            <i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto:confusion@food.net">
            <i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>


  <div fxFlex fxFlexOffset="20px" class="form-size" >
    <h3>Send us your feedback</h3>
    <!-- <p>{{feedbackForm.value | json}} {{feedbackForm.status | json}}</p>-->
    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" *ngIf="!feedback2" [hidden]="submitted">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="telnum" placeholder="Tel Number" type="tel" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email" required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}}</mat-error>
        </mat-form-field>
      </p>

      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
        </td>
        <td>
          <mat-select placeholder="How?" formControlName="contacttype">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
        </td>
      </table>

      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Feedback" row=12></textarea>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted" *ngIf="!feedback2  || feedbackErrMess">
    <h3>Submitting Form</h3>
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="feedbackErrMess">
    <h2>Error</h2>
    <h4>{{feedbackErrMess}}</h4>
  </div>

  <div [hidden]="!submitted" [@visibility]="visibility" [@expand]>
    <div fxFlex *ngIf="feedback2">
      <h3>Your Submission</h3>
      <mat-list>
        <mat-list-item>
          <h4 mat-line>First Name : &nbsp;{{feedback.firstname}}</h4>
          <p mat-line>Last Name : &nbsp; {{feedback.lastname }}</p>
          <p mat-line>Tel. Number :  &nbsp;{{feedback.telnum}}</p>
          <p mat-line>E-mail :  &nbsp;{{feedback.email}}</p>
          <p mat-line>May we contact you? : &nbsp; {{feedback.agree}}</p>
          <p mat-line>How? : &nbsp; {{feedback.contacttype}}</p>
          <p mat-line>Feedback :  &nbsp;{{feedback.message}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

    
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Employee Registration</h3> 
    <form novalidate [formGroup]="edetailForm" #fform="ngForm" (ngSubmit)="onAdd()">
      <mat-form-field class="half-width">
        <input matInput formControlName="eid" placeholder="Employee Id" type="number">
      </mat-form-field>
      <br>
      <mat-form-field class="half-width">
        <input matInput formControlName="ename" placeholder="Employee Name" type="text" required>
        <mat-error *ngIf="formerrors.ename">{{formerrors.ename}}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="half-width">
        <input matInput formControlName="company" placeholder="Company Name" type="text" >
      </mat-form-field>
      <br>
      <mat-form-field class="half-width">
        <input style="cursor:default !important" matInput formControlName="dob" placeholder="DD/MM/YYYY" type="text">
      </mat-form-field>
      <br>
      <button id="add" type="submit" mat-button class="background-primary text-floral-white" [disabled]="edetailForm.invalid">Add</button>
      <button id="save" (click)="onSave()" type="submit" mat-button class="background-primary text-floral-white"  [disabled]="edetailForm.invalid">Save</button>
    </form>
  </div>

   <h3>Employee Details</h3>
  <table class=full-width >
    <tr>
      <th>Employee Name</th>
      <th>Eid</th>
      <th>DOB</th>
      <th>Company</th>
      <th>Changes</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let edetail of employee" >
      <td >{{edetail.ename}}</td>
      <td>{{edetail.eid}}</td>
      <td>{{edetail.company}}</td>
      <td>{{edetail.dob}}</td>
      <td><button id="edit" (click)="onEdit(edetail)" type="submit" mat-button class="background-primary text-floral-white" >Edit</button></td>
      <td><button id="delete" (click)="openLoginForm()" type="submit" mat-button class="background-primary text-floral-white">Delete</button></td>
      </tr>
  </table>
</div>