.full-width{
    width:95%
}
.half-width{
    width:45%
}
.form-size{
    width:75%
}
#add,#yes{
    margin-right: 15px;
}
#edit{
margin-right: 35px;
margin-left: 35px;
}

table,th,td{
    border : 1px solid;
    margin-top: 20px;
    border-collapse: collapse;
     background-color: #6db2dc;
  }