<mat-dialog-content>
  <h3>are you sure you want to delete?</h3>
    </mat-dialog-content>
    <mat-dialog-actions>
     <button type="submit" (click)="onDelete(edetail)"  [mat-dialog-close]="true" mat-button class="background-primary text-floral-white" >Yes</button>
     <button type="submit" [mat-dialog-close]="true" mat-button class="background-primary text-floral-white" >No</button>
    </mat-dialog-actions>
