<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <mat-card >
          <mat-card-header>
            <mat-card-title >
            <h3>{{dish.name|uppercase}}</h3>  
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
          <mat-card-content >
              <p>{{dish.description}}</p>
                </mat-card-content>
          <mat-card-actions>
              <button mat-button [routerLink]="['/dishdetail',prev]"><span class="fa fa-chevron-left fa-lg"></span></button>                         <!--routerlink is used to navigate among components-->
            <button mat-button (click)="goback()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail',next]"><span class="fa fa-chevron-right fa-lg"></span></button>
          </mat-card-actions> 
        </mat-card>
      </div>
      </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list>
        <div class="form-size">
            <form novalidate [formGroup]="AuthorfeedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="half-width">
                    <input matInput formControlName="author" placeholder="Name" type="text"  required>
                    <mat-error *ngIf= "formErrors.author">{{formErrors.author}}</mat-error>
                  </mat-form-field>
                  <br>
                 <mat-slider formControlName="rating" min="1" max="5" step="1" thumbLabel tickInterval="1"></mat-slider>
                  <p>
                      <mat-form-field class="full-width">
                      <textarea matInput  formControlName="comment" placeholder="Your Comment" rows=8 ></textarea>
                      <mat-error *ngIf= "formErrors.comment">{{formErrors.comment}}</mat-error>
                      </mat-form-field>
                    </p>
                   <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="AuthorfeedbackForm.invalid">Submit</button>
              </form>
        </div>
        
        <table>
            <tr>
              <th>Name</th>
              <th>Rating</th>
              <th>Date</th>
              <th>Comments</th>
            </tr>
            <tr  *ngFor="let comment of dish.comments">
              <td>{{comment.author  }}</td>
              <td>{{comment.rating }}Stars</td>
              <td>{{comment.date | date}}</td>
              <td>{{comment.comment}}</td>
            </tr>
          </table>
     <h3>Comments</h3>
     <mat-list-item *ngFor="let comment of dish.comments">
      <h4 mat-line>{{comment.comment}}</h4>
      <p mat-line>{{comment.rating }}Stars</p>
      <p mat-line>
        <span>--{{comment.author  }} {{comment.date | date}}</span>
      </p>
    </mat-list-item> 
    </mat-list>
  </div>


  